name: Update Homebrew Tap

on:
  release:
    types: [published]

jobs:
  update-tap:
    runs-on: ubuntu-latest
    steps:
      - uses: mislav/bump-homebrew-formula-action@v3
        with:
          formula-name: dyld-tools
          formula-path: Formula/dyld-tools.rb
          homebrew-tap: blacktop/homebrew-tap
          download-url: https://github.com/blacktop/darwin-dyld-build/releases/download/${{ github.event.release.tag_name }}/dyld-tools-universal.tar.gz
        env:
          COMMITTER_TOKEN: ${{ secrets.TAP_GITHUB_TOKEN }}
